.status {
    display: block;
    margin: 20px auto;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    margin-top: 50px;
}

.chart {
    margin-top: 40px;
}

@media screen and (max-width: 320px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
